<div class="main-content">
  <div class="container-fluid">

    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="error-section">
            <h2 class="title">Página não encontrada</h2>
            <small class="sub-title">A página que você está procurando não existe.</small>

            <img src="../../assets/img/errors/404-error-cat.svg"
              alt="Imagem ilustrando o código de erro 404 de página não encontrada.">


            <button (click)="goToHome()" class="btn btn-primary">
              Voltar ao Dashboard
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>