:host {
    .wrapper {
        background: #007bff;
        background: linear-gradient(to right, #0062E6, #33AEFF);
    }

    .panel-heading {
        display: flex;
        justify-content: center;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .row {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .buttons-section {
        display: flex;
        justify-content: center;
        margin: 25px 0px 15px 0px;

        .btn-login {
            width: 30rem;
        }
    }
}