<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" *ngIf="wordFrequencyPolarAreaConfig">
                <ngx-chartjs-polar-area [chartInfo]="wordFrequencyPolarAreaConfig" [title]="'Incidência de Palavras'">
                </ngx-chartjs-polar-area>
            </div>
            <div class="col-md-6" *ngIf="numberJournalistsByLocationBarConfig">
                <ngx-chartjs-bar [chartInfo]="numberJournalistsByLocationBarConfig" [title]="'Jornalistas por Localidade'" ></ngx-chartjs-bar>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <lbd-chart [title]="'2021 Sales'" [subtitle]="'All products including Taxes'"
                    [chartType]="activityChartType" [chartData]="activityChartData"
                    [chartOptions]="activityChartOptions" [chartResponsive]="activityChartResponsive"
                    [legendItems]="activityChartLegendItems" [withHr]="true" [footerIconClass]="'fa fa-check'"
                    [footerText]="'Data information certified'">
                </lbd-chart>
            </div>
        </div>
    </div>
</div>